@model List<Wedding.Core.Models.PaymentAccount>
<h5 class="card-title d-flex justify-content-between align-items-center m-b-50">
    حساب ها
    <span>
        <a onclick="openModal('@Url.Action("CreatePaymentAccount", "Wallets", new { customerId = ViewBag.CustomerId})')" class="btn btn-sm primary-font text-success" style="cursor: pointer">
            <i class="ti-plus m-l-5"></i> افزودن حساب
        </a>
    </span>
</h5>
<div class="table-responsive">
    <table class="table">
        <thead>
                <tr>
                    <th scope="col">شماره کارت</th>
                    <th scope="col">وضعیت</th>
                    <th class="text-left" scope="col">دستورات</th>
                </tr>
        </thead>
        <tbody>
                <tr>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.CardNumber</td>
                        <td>
   
                                    @switch (item.Status)
                                    {
                                        case PaymentAccountStatus.Pending:
                                        <span class="badge badge-pill badge-info">در انتضار بررسی</span>
                                            break;
                                        case PaymentAccountStatus.Approved:
                                        <span class="badge badge-pill badge-success">تأیید شده</span>
                                            break;
                                        case PaymentAccountStatus.Rejected:
                                        <span class="badge badge-pill badge-danger">رد شده</span>
                                            break;
                                    }
                        </td>
                        <td class="text-left">
                            <a class="text-primary ml-3" onclick="openModal('/Apanel/Wallets/EditPaymentAccount/@item.Id')" style="cursor: pointer" data-toggle="tooltip" title="ویرایش">
                                <i class='fa fa-edit text-primary'></i>
                            </a>
                            <a class="text-danger" onclick="openModal('/Apanel/Wallets/DeletePaymentAccount/@item.Id')" style="cursor: pointer" data-toggle="tooltip" title="حذف">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                    }
                    }
                    else
                    {
                <span>هنوز حسابی ثبت نشده</span>
                    }
                </tr>
        </tbody>
    </table>
</div>