@model Wedding.Core.Models.JobType

<input type="hidden" id="title" value="ویرایش گروه شغلی" />

<form asp-action="Edit" method="post" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden" />
    <input asp-for="InsertDate" type="hidden" />
    <input asp-for="InsertUser" type="hidden" />
    <input asp-for="IsDeleted" type="hidden" />                            
    <div class="form-group">
        <label>آپلود تصویر</label>
        <div class="col-md-12">
            <div class="dropzone" data-input="Image" data-container="main-image-container" data-x="2" data-y="1"></div>
        </div>
    </div>
    <input type="hidden" asp-for="Image" />
    <div class="form-group img-container" id="main-image-container" style="display:@(string.IsNullOrEmpty(Model.Image)?"none":"block")">
        <label>تصویر شاخص</label>
        <div class="col-md-12">
            <img src="@(string.IsNullOrEmpty(Model.Image)?null:"/UploadedFiles/Images/"+ Model.Image)" class="main-image rounded" />
            <button type="button" class="btn bts-sm btn-danger remove-image" data-container="main-image-container" data-input="Image">
                <i class='ti-trash text-white'></i>
            </button>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label col-md-12"></label>
        <div class="col-md-12">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PluralTitle" class="control-label col-md-12"></label>
        <div class="col-md-12">
            <input asp-for="PluralTitle" class="form-control" />
            <span asp-validation-for="PluralTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LatinTitle" class="control-label col-md-12"></label>
        <div class="col-md-12">
            <input asp-for="LatinTitle" class="form-control" />
            <span asp-validation-for="LatinTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-check mr-3">
        <input class="form-check-input" type="checkbox" asp-for="IsActive">
        <label class="form-check-label" asp-for="IsActive">
        </label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-check mr-3">
        <input class="form-check-input" type="checkbox" asp-for="ShowInHomePage">
        <label class="form-check-label" asp-for="ShowInHomePage">
        </label>
        <span asp-validation-for="ShowInHomePage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div style="float:left">
            <input type="submit" value="ثبت" class="btn btn-primary mr-2" />
        </div>
    </div>
</form>
<script src="~/admin/vendors/dropzone/dropzone-config.js"></script>
<script>
    $.validator.unobtrusive.parse("#form");
</script>