@model Wedding.Core.Models.Customer

<input type="hidden" id="title" value="حذف مشتری" />
@if (Model.Ads != null && Model.Ads.Any(a=>a.IsDeleted == false))
{
    <div class="swal-icon swal-icon--error">
        <div class="swal-icon--error__x-mark">
            <span class="swal-icon--error__line swal-icon--error__line--left"></span>
            <span class="swal-icon--error__line swal-icon--error__line--right"></span>
        </div>
    </div>
    <div class="text-center">
    <div class="swal-title">خطا!</div>
    <div class="swal-text" style="text-align: center">این مشتری دارای آگهی یا بنر های زیر مجموعه میباشد!</div>
    </div>

}
else
{
    <h4 class="modal-label">
        آیا مطمئن هستید که می خواهید این رکورد را حذف کنید؟
    </h4>
    <dl class="row" style="padding-top:10px">
        <dt class="col-sm-4">
            نام و نام خانوادگی
        </dt>
        <dd class="col-sm-8">
            @Model.User.FirstName  @Model.User.LastName
        </dd>
        <dt class="col-sm-4">
            شماره همراه
        </dt>
        <dd class="col-sm-8">
            @Model.User.PhoneNumber
        </dd>
    </dl>
    <div style="float:left">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="حذف" class="btn btn-danger mr-2" />
        }
    </div> 
}
