@model CustomerEditDto

<form asp-action="Edit" method="post" id="customerform">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />

    <h5 class="card-title d-flex justify-content-between align-items-center m-b-50">
        ویرایش مشتری
        <span>
            <a onclick="btnCancel()" class="btn btn-danger text-white">
                انصراف
            </a>
            <button type="submit" class="btn btn-primary">
                ثبت
            </button>
        </span>

    </h5>
    <div class="row">
        <div class="col-md-4 text-center">
            <input type="hidden" asp-for="Image" />
            <div class="form-group img-container" id="main-image-container" style="display:@(string.IsNullOrEmpty(Model.Image)?"none":"block")">
                <label>تصویر شاخص</label>
                <div class="col-md-12">
                    <figure class="avatar avatar-xxl m-b-50">
                        <img src="@(string.IsNullOrEmpty(Model.Image)?null:"/UploadedFiles/Images/"+ Model.Image)" class="main-image rounded" />
                    </figure>
                    <button type="button" class="btn btn-sm btn-danger remove-image" data-container="main-image-container" data-input="Image">
                        <i class="ti-trash text-white"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label>آپلود تصویر جدید</label>
                <div class="col-md-12 m-b-50 img-container">
                    <div class="dropzone" id="dropzone" data-input="Image" data-container="main-image-container" data-x="1" data-y="1"></div>
                </div>
            </div>
        </div>
        <div class="offset-xl-3"></div>
        <div class="col-xl-5 col-md-7">
            <div class="row mb-2">
                <div class="col-4 text-muted">نام کاربری *:</div>
                <div class="col-8">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">نام:</div>
                <div class="col-8">
                    <input asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">نام خانوادگی:</div>
                <div class="col-8">
                    <input asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">نام مجموعه *:</div>
                <div class="col-8">
                    <input asp-for="JobTitle" class="form-control"/>
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">شماره همراه *:</div>
                <div class="col-8">
                    <input asp-for="PhoneNumber" class="form-control"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">شغل:</div>
                <div class="col-8">
                    <select asp-for="JobTypeId" asp-items="@ViewData["JobTypes"] as List<SelectListItem>" class="form-control select2">
                        <option value="0">انتخاب نشده</option>
                    </select>
                    <span asp-validation-for="JobTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">شهر یا منطقه:</div>
                <div class="col-8">
                    <select asp-for="GeoDivisionId" asp-items="@ViewData["GeoDivisions"] as List<SelectListItem>" class="form-control select2">
                        <option value="0">انتخاب نشده</option>
                    </select>
                </div>

                <span asp-validation-for="GeoDivisionId" class="text-danger"></span>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">آدرس:</div>
                <div class="col-8">
                    <input asp-for="Address" class="form-control"/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 text-muted">ایمیل:</div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="offset-md-1"></div>
    </div>
</form>
<script src="~/admin/vendors/dropzone/dropzone-config.js"></script>
<script>
    $.validator.unobtrusive.parse("#customerform");;
    $('.select2').select2({
        placeholder: 'انتخاب کنید',
    });
    $(".remove-image").click(function () {
        var input = $(this).data("input");
        var container = $(this).data("container");
        if (input != undefined) {
            $("#" + input).val("");
        }
        if (container != undefined) {
            $("#" + container).hide();
            var image = $("#" + container).find("img");
            image.attr("src", "");
        }
    });
    $('#customerform').submit(function (e) {
        e.preventDefault();
        if ($(this).valid()) {
                $.ajax({
                    type: 'POST',   
                    url: "/Apanel/Customers/Edit",
                    data: $(this).serialize(),
                    dataType: 'json',   
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                }).done(function (response) {
                    if (response.status === "Success") {
                        loadCustomers();
                        $("#myModal").modal('hide');
                        toastr.success(response.message, "تایید");
                    } else {
                        toastr.error(response.message, "خطا");
                    }
                });
        }
    });
    //$('#customerform').submit(function (e) {
    //    e.preventDefault();
    //    if ($(this).valid()) {
    //        $.ajax({
    //            type: 'GET',
    //            url: "/Apanel/Customers/ValidatePhone?phone=" + $("#PhoneNumber").val() + "&id=" + $("#UserId").val(),
    //            processData: false,
    //            contentType: false,
    //        }).done(function (response) {
    //            if (response === "success") {
    //                $('#customerform').unbind('submit').submit();
    //            } else {
    //                $("#validate-phone").text("کاربر دیگری با این شماره در سیستم ثبت شده");
    //                $("#validate-phone").show();
    //            }
    //        });
    //    }
    //});
</script>