<h5 class="card-title d-flex align-items-center">
    اطلاعات
</h5>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="form-group">
            <label for="email">عنوان آگهی</label>
            <input type="email" class="form-control" id="email" placeholder="ایمیل را وارد کنید">
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="form-group">
            <label for="email">آدرس ایمیل</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@@</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>