<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ازدواج ایرانی</title>

    <!-- begin::global styles -->
    <link rel="stylesheet" href="/admin/vendors/bundle.css" type="text/css">
    <!-- end::global styles -->
    <!-- begin::custom styles -->
    <link rel="stylesheet" href="/admin/css/app.css" type="text/css">
    <link href="~/admin/css/custom.css" rel="stylesheet" />
    <!-- end::custom styles -->
    <!-- begin::favicon -->
    <link rel="shortcut icon" href="/admin/media/image/favicon.png">
    <!-- end::favicon -->
    <!-- begin::theme color -->
    <meta name="theme-color" content="#3f51b5" />
    <!-- end::theme color -->

</head>
<body class="bg-white h-100-vh p-t-0">

    <!-- begin::page loader-->
    <div class="page-loader">
        <div class="spinner-border"></div>
        <span>در حال بارگذاری ...</span>
    </div>
    <!-- end::page loader -->

    <div class="container h-100-vh">
        <div class="row align-items-center h-100-vh">
            <div class="col-lg-6 d-lg-block p-t-b-25">
                <img class="img-fluid" src="/admin/media/svg/login.svg" alt="ازدواج ایرانی">
            </div>
            <div class="col-lg-4 offset-lg-1 p-t-b-25">
                <div class="d-flex align-items-center m-b-20">
                    <h3 class="m-0">ازدواج ایرانی</h3>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- begin::global scripts -->
    <script src="/admin/vendors/bundle.js"></script>
    <!-- end::global scripts -->
    <!-- begin::custom scripts -->
    <script src="/admin/js/app.js"></script>
    <!-- end::custom scripts -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>